body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Styles for the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Styles for the navigation menu */
nav {
  margin: 20px 0;
  text-align: center;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #ff6347;
}

/* Styles for the main content area */
main {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Styles for the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Styles for headings */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 10px 0;
}

/* Styles for paragraphs */
p {
  line-height: 1.6;
  margin: 10px 0;
}

/* Styles for images */
img {
  max-width: 100%;
  height: auto;
}

/* Styles for buttons */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #ff6347;
}

